@import './root.css';

.table-responsive {
    padding-inline: 50px;
    padding-block: 40px;
    border: 1px solid #c1c6cc;
    border-radius: 12px;
    width: 95% !important;
    border-top-color: var(--primary-color);
    border-top-width: 13px;
}

.section-header #header-line{
    background-color: var(--primary-color);
    width: .3rem;
    height: 3rem;
    border-radius: 50px;
}

.main-sidebar .sidebar-menu li.active a {
    color: var(--primary-color) !important;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu>li.active>a:before {
    background-color: var(--primary-color) !important;
}

.header-title .d-flex .title h1 {
    color: var(--primary-color);
}

.milestone-section .form-group label {
    color: var(--primary-color);
    font-weight: 700;
}

.right-container #milestoneDetail {
    min-height: 40px;
    height: 135px;
}


.button-section .cancel-btn {
    color: var(--primary-color);
}

.button-section .cancel-btn:hover {
    text-decoration: none;
}

.button-section .submit-btn {
    background-color: var(--primary-color) !important;
}


