.table-responsive {
    padding: 30px;
    border: 1px solid #c1c6cc;
    border-radius: 12px;
    width: 95% !important;
    border-top-color: #6694fa;
    border-top-width: 13px;
}

.table-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #313d4e;
}
