.card-body #p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.card-body #p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.card {
    padding-bottom: 5%;
}

.img-fluid {
    padding-top: 5%;
}

#inputDetail {
    height: 160px;
}

.status-op{
    text-align: center;
    background: rgba(0, 97, 199, 0.15);
    border-radius: 99px;
    padding: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #0061C7;
}

.status-f{
    text-align: center;
    background: rgba(30, 158, 82, 0.15);
    border-radius: 99px;
    padding: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #1E9E52;
}