.card-body #p1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.card-body #p2 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.card {
    padding-bottom: 5%;
}

.img-fluid {
    padding-top: 5%;
}

#inputDetail {
    height: 160px;
}

.status-op {
    text-align: center;
    background: rgba(0, 97, 199, 0.15);
    border-radius: 99px;
    padding: 3px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #0061c7;
}

.status-f {
    text-align: center;
    background: rgba(30, 158, 82, 0.15);
    border-radius: 99px;
    padding: 3px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #1e9e52;
}

#statusProject {
    font-size: 15px;
    padding: 6px;
    padding-inline: 20px;
}

p {
    font-family: "Montserrat", sans-serif;
}

.card .card-body .h4 {
    margin: 0%;
    font-weight: bold;
}

#detail-project {
    margin-right: 10%;
    text-align: justify;
    line-height: normal;
}

.col p {
    line-height: 20px;
    margin: 0%;
}

.col p.p1 {
    font-size: 15px;
    font-weight: bold !important;
}

.col p.p2 {
    font-size: smaller;
}

.list-group {
    margin-right: 10%;
}

.list-group-item .row {
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}

span.p2 {
    font-weight: normal;
}

#statusProject1 {
    background-color: #1e9e5226;
    color: #1e9e52;
}

#statusProject1 circle {
    fill: #1e9e52;
}

#statusProject0 {
    background-color: #0061c726;
    color: #0061c7;
}
#statusProject0 circle {
    fill: #0061c7;
}

#statusProject2 {
    background-color: #EB455F26;
    color: #fc544b;
}
#statusProject2 circle {
    fill: #fc544b;
}

#statusProject3 {
    background-color: #eeff0063;
    color: #E4A11B;
}
#statusProject3 circle {
    fill: #E4A11B;
}

.list-group-item{
    background-color: #0061C708 !important;
}

.revisi-status-section {
    background-color: #EB455F26;
    border-radius: 20px;
}

.pending-status-section {
    background-color: #eeff0063;
    border-radius: 20px;
}
